{% extends "base.html" %}

{% block main_content %}
    <section id="login">
        <form action="" method="POST" novalidate>
            <section id="title">
                <h1>Login</h1>
            </section>
            {{ form.hidden_tag() }}
            <section>
            <h1>{{ form.user_id.label }}</h1>
            <p>{{ form.user_id() }}</p>
            {% for error in form.user_id.errors %}
                {{ error }}
            {% endfor %}
            </section>

            <section>
            <h1>{{ form.password.label }}</h1>
            <p>{{ form.password() }}</p>
            {% for error in form.password.errors %}
                {{ error }}
            {% endfor %}
            </section>
            
            {{ form.submit() }}

        </form>
    </section>




{% endblock %}